
<div class="container-fluid">
  
 <h1>Login Here</h1>
 <form method='POST'>
    <input placeholder='UserName or Email' type='text' name='uname'></input>
    </br>
    <input placeholder='Password'type='password' name='password'></input>
    </br>
    <input type='submit'>
 </form>


 </div>
